Repository Hackathon-Vendas/Heiwa, pull requests merged in 2024-11, with the labels that each got.

#36 Feat 15
  package-lock.json
  package.json
  src/assets/main.css
  src/components/NumeroMesa.vue
  src/views/HomeView.vue
Labels: enhancement, VUE

#37 Feat 22
  public/exemplo.txt
  src/assets/main.css
  src/components/RodizioVue.vue
  src/router/index.js
  src/views/HomeView.vue
Labels: enhancement, VUE

#38 fix: alteração no header #3
  src/App.vue
  src/components/HeaderVue.vue
  src/components/MenuVue.vue
Labels: enhancement, FIGMA

#39 Feat 17
  public/anmitsu.png
  public/gyoza.png
  public/petitgateau.png
  public/temakiatum.png
  public/temakisalmao.png
  public/urumaki.png
  public/yakisoba.png
  src/App.vue
  src/assets/main.css
  src/components/CarosselSecundario.vue
  src/components/MenuVue.vue
  src/views/HomeView.vue
Labels: VUE

#48 Feat 42
  public/excluir.png
  src/App.vue
  src/assets/excluir.png
  src/components/HeaderVue.vue
  src/components/ModalPedidos.vue
  src/components/Pedidios.vue
  src/router/index.js
  src/views/HomeView.vue
Labels: enhancement, VUE

#54 Feat 51
  package-lock.json
  src/assets/Sunomono.png
  src/components/MenuVue.vue
  src/components/ModalPedidos.vue
  src/components/ModalProducts.vue
  src/stores/cartStore.js
  src/stores/produto.js
  src/views/ProdutosView.vue
Labels: enhancement, VUE, JAVASCRIPT

#60 feat: arrumando modal de pedido e de conta #42
  package-lock.json
  src/App.vue
  src/assets/logo-carrinho.svg
  src/components/ContaModal.vue
  src/components/HeaderVue.vue
  src/components/MenuVue.vue
  src/components/ModalPedidos.vue
Labels: bug

#64 fix: arrumando erros de id #11
  package-lock.json
  src/components/MenuVue.vue
  src/views/ProdutosView.vue
Labels: documentation, enhancement, VUE

#65 chore: mudança no código da function scrollToSection #11
  src/components/MenuVue.vue
  src/router/index.js
Labels: documentation, enhancement, VUE
